#title Lorem.me
#subtitle Because real hackers don't just lorem, they also gist.
%form#generator
  %div
    Paragraphs
    %br/
    %input{ :type => 'text', :name => 'p', :size => 2, :value => 5 }
  %div
    Gists
    %br/
    %input{ :type => 'text', :name => 'c', :size => 2, :value => 2 }
  %div
    %br/
    %input{ :type => 'submit', :value => 'go' }
