%html
  %head
    %title Lorem.me
    %link{ :href => '/m.css', :rel => 'stylesheet', :type => 'text/css' }
  %body
    #container
      #content
        = yield
        #footer
          :markdown
            Created with [Sinatra](http://sinatrarb.com) and hosted on a free plan at [Heroku](http://heroku.com)

:javascript
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));

:javascript
  try {
  var pageTracker = _gat._getTracker("UA-7097403-3");
  pageTracker._trackPageview();
  } catch(err) {}
